<ion-view view-title="Write a new post">
  <ion-content>
    <ion-list>
      <form ng-submit="button(post)">
        <label class="item item-input">
          <input type="text" ng-model="post.title" placeholder="Title">
        </label>
        <label class="item item-input">
          <input type="text" ng-model="post.gameName" placeholder="Game">
        </label>
        <label class="item item-input">
          <input type="text" ng-model="post.systemName" placeholder="System">
        </label>
        <label class="item item-input">
          <textarea ng-model="post.description" placeholder="Description (Time, number of people wanted, etc)"></textarea>
        </label>
        <div id="map"></div>
        <label class="item item-input">
          <input type="hidden" ng-model="post.latitude">
          <input type="hidden" ng-model="post.longitude">
        </label>
      <br/>
        <button type="submit" class="button button-block button-dark">Submit</button>
      </form>
      <!--<ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="chat in chats" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">-->
        <!--<img ng-src="{{chat.face}}">-->
        <!--<h2>{{chat.name}}</h2>-->
        <!--<p>{{chat.lastText}}</p>-->
        <!--<i class="icon ion-chevron-right icon-accessory"></i>-->

        <!--<ion-option-button class="button-assertive" ng-click="remove(chat)">-->
          <!--Delete-->
        <!--</ion-option-button>-->
      <!--</ion-item>-->
    </ion-list>
  </ion-content>
</ion-view>
