@font-face {
  font-family: "Title Font";
  src: url('../fonts/titlefont.ttf') format('truetype');
}
.ion-billboard::before{
  content:url('../img/billboardIcon.png');
  align-content: center;
}
.ion-location-strong::before{
  content: url('../img/locationIcon.png');
}
.ion-ios-chatboxes::before{
  content: url('../img/chatIcon.png');
  padding:2px;
}
#map {
  height: 450px;
  margin: 0;
}
.loginBackground{
  background-color:#262927;
  text-align: center;
}
.loginTitle{
  color:whitesmoke;
  font-size: 72px;
  font-family: "Title Font";
}
.couchIcon{
  width: 180px;
}
.loginBtn{
  height:220px;
  width:220px;
  border-radius: 50%;
  border: none;
  box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.50);
  background-color: #5A6B78;
  margin-top:20%;
}
.popup{
  border-radius: 5% !important;
  width: 74% !important;
}
.loginForm{
  border:none !important;
  background-color: white;
}
.loginInput{
  padding-left:20px !important;
}
